.launchpad-menu-btn:hover {
  background-color: #ddd;
}

.launchpad-menu-btn > i {
  margin-right: .5rem;
}
.left-btn {
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}

.right-btn {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-left: solid 1px #555 !important;
}